services:
  postgres:
    image: postgres:15
    container_name: user-management-postgres
    environment:
      POSTGRES_DB: authDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: adminadmin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - user-management-network

  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    container_name: auth-service
    ports:
      - "3001:3001"
    env_file:
      - ./auth-service/.env
    environment:
      - NODE_ENV=development
    depends_on:
      - postgres
    volumes:
      - api_logs_data:/app/logs
    networks:
      - user-management-network
    restart: unless-stopped

  invite-service:
    build:
      context: ./invite-service
      dockerfile: Dockerfile
    container_name: invite-service
    ports:
      - "3002:3002"
    env_file:
      - ./invite-service/.env
    environment:
      - NODE_ENV=development
    depends_on:
      - postgres
    volumes:
      - api_logs_data:/app/logs
    networks:
      - user-management-network
    restart: unless-stopped

volumes:
  postgres_data:
    external: true
    name: 55aed6037d31404239a06513433ad66111239e90825ba0c9bc4f09351658f035
  api_logs_data: {}

networks:
  user-management-network:
    driver: bridge
